body {
    margin: 0;
    background: #ddd4d4;
    color: #222;
    font-family: Arial, sans-serif;
    text-align: center;
}


/* INTRO */

#introScreen {
    min-height: 100vh;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    padding: 20px;
}

#introScreen h1 {
    font-size: 55px;
    margin-bottom: 20px;
}

#introScreen p {
    font-size: 18px;
    margin: 8px;
}

#introScreen p:first-of-type {
    font-size: 21px;
    font-weight: bold;
}

#introStartBtn {
    margin-top: 25px;

    padding: 15px 40px;

    font-size: 20px;
    font-weight: bold;

    color: white;
    background: #32CD32;

    border: none;
    border-radius: 10px;

    cursor: pointer;
}

#introStartBtn:hover {
    background: green;
}


/* GAME */

#gameArea {
    display: none;

    min-height: 100vh;

    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#gameArea h2 {
    margin: 10px;
    font-size: 25px;
}


/* BUTTONS */

.menu {
    margin: 5px;
}

.menu button {
    padding: 10px 20px;
    font-size: 17px;
    margin: 5px;

    background: #32CD32;
    color: white;

    border: none;
    border-radius: 10px;

    cursor: pointer;
}

.menu button:hover {
    background: green;
}


/* GAME */

canvas {
    background: rgb(219, 207, 207);
    border: 4px solid rgb(69, 196, 96);
    margin-top: 5px;
}


/* RESTART */

#gameArea>button {
    margin-top: 10px;

    padding: 10px 20px;

    font-size: 17px;

    border: none;
    border-radius: 10px;

    cursor: pointer;
}

#gameArea>button:hover {
    background: rgb(74, 151, 74);
    color: white;
}

/* PLAYER NAME */

#playerName {
    width: 250px;

    padding: 12px;

    margin-top: 15px;

    font-size: 18px;

    text-align: center;

    border: 2px solid #32CD32;

    border-radius: 10px;

    outline: none;
}

#playerName:focus {
    border-color: green;
}